header {
    display: block;
    --position: sticky;
    background-image: url(../images/banner.png);
    background-size: cover;
    top:0;
    overflow: hidden;
    z-index: 2;
    background-color: rgb(182, 182, 182);
    background-position: center;
    height: calc((100vw - 17px)/3);
    margin: 0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0em 0em 500px 100px rgba(188, 0, 0, 1);
}

body {
    margin: 0;
}

main {
    background-image: url(../images/Flag_of_Palestine_backdrop-4.png);
    background-size:cover;
    color: #000000;
    font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 9vw 2vw;
}

@media screen and (max-width: 825px) {
    header {
        background-image: url(../images/banner-mobile.png);
        background-size: cover;
        height: 100vw;
    }

    article {
        padding-left: 4.5vw;
        padding-right: 4.5vw;
    }
}

.nav-link {
    padding: 3vw 0 1vw;
}
a {
    display: inline-block;
    margin: 1.5vw 0 0;
    text-decoration: none;
    color:#1565c0;
}
a:hover url, a:focus url{
    text-decoration: underline;
    color: #2a6496;
}
a url {
    font-size: 3.5vh;
}
#dutch {
    background-image: url(../images/Flag_of_the_Netherlands.png);
    background-size: cover;
    padding: 1.5vh 2.5vh;
    display: inline-block;
}
#english {
    background-image: url(../images//Flag_of_the_United_Kingdom.png);
    background-size: cover;
    padding: 1.5vh 2.5vh;
    display: inline-block;
}

#signatures {
    display: flexbox;
}

.signed-by {
    border-radius: 1vw;
    max-width: 24vw;
    margin: 1vw;
    overflow: hidden;
    animation-name: boxoutoffocus;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.signed-by:hover {
    animation-name: boxintofocus;
    animation-duration: 1.5s;
    animation-timing-function:ease;
    animation-fill-mode: both;
}

.logo {
    max-width: 20vw;
    margin: 2vw;
    border-radius: 1vw;
}

.signed-by h3 {
    visibility: hidden;
    float: left;
    margin: 0 2vw 2vw;
    color: #000;
    animation-name: textfadeout;
    animation-duration: 0.75s;
    animation-fill-mode: both;
}

.signed-by:hover h3 {
    animation-name: textfadein;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

@media screen and (max-width: 825px) {
    .signed-by {
        border-radius: 3.5vw;
        max-width: 88vw;
        animation-name: full_boxoutoffocus;
    }
    
    .signed-by:hover {
        animation-name: full_boxintofocus;
    }
    
    .logo {
        max-width: 80vw;
        margin: 4vw;
        border-radius: 2.5vw;
    }

    .signed-by h3 {
        font-size: 1.25em;
        margin: 1vw 5vw 5vw;
        visibility: visible;
        animation: none;
    }

    .signed-by:hover h3 {
        animation: none;
    }
}


h1,h2,p,a {
    margin: 0
}
h1 {
    padding: 1vw 0 0.7vw;
    font-size: 2em
}
h2 {
    padding: 1vw 0 0.4vw;
    font-size: 1.2em;
}
h3 {
    font-size: 1.6vw;
}
p {
    padding: 0 0 1.4vw;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1.1em
    }
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 0.75em;
    }
    h2 {
        font-size: 0.65em;
    }
    .signed-by h3 {
        font-size: 0.65em;
    }
    p {
        font-size: 0.6em;
    }
}

@keyframes boxintofocus {
  0%   {background-color: rgb(200, 200, 200, 0.5); max-height: 24vw;}
  100% {background-color: rgb(200, 200, 200, 1); max-height: 40vw;}
}

@keyframes boxoutoffocus {
  0%   {background-color: rgb(200, 200, 200, 1); max-height: 40vw;}
  100% {background-color: rgb(200, 200, 200, 0.5); max-height: 24vw;}
}

@keyframes full_boxintofocus {
  0%   {background-color: rgb(200, 200, 200, 0.5);}
  100% {background-color: rgb(200, 200, 200, 1);}
}

@keyframes full_boxoutoffocus {
  0%   {background-color: rgb(200, 200, 200, 1);}
  100% {background-color: rgb(200, 200, 200, 0.5);}
}

@keyframes textfadein {
  0%   {color: rgb(200, 200, 200, 0.5); visibility: hidden;}
  100% {color: #000; visibility: visible;}
}

@keyframes textfadeout {
  0%   {color: #000; visibility: visible;}
  100% {color: rgb(180, 180, 180, 0.5); visibility: hidden;}
}